#include "wx/msw/wx.rc"

appicon ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0
PRODUCTVERSION  1,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Usitha Indeewara"
            VALUE "FileDescription",  "A text editor application."
            VALUE "FileVersion",      "1.0.0"
            VALUE "LegalCopyright",   "Copyright (c) 2022 Usitha Indeewara. All Rights Reserved."
            VALUE "OriginalFilename", "UNotePad.exe"
            VALUE "ProductName",      "UNotePad"
            VALUE "ProductVersion",   "1.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
            